static/workflows/_archive/05-real-multimodal-agent.json
{
  "name": "Real Multimodal PDF Agent",
  "nodes": [
    {
      "parameters": {
        "path": "pdf-upload",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "webhook-pdf-upload",
      "name": "PDF Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "pdf-upload-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract PDF information\nconst binary = $binary.data;\n\nif (!binary) {\n  throw new Error('No file uploaded');\n}\n\nconst filename = binary.fileName || 'document.pdf';\nif (!filename.toLowerCase().endsWith('.pdf')) {\n  throw new Error('Only PDF files are supported');\n}\n\n// For real PDF processing, you would use pdf-parse or similar\n// For workshop, we'll simulate extraction\nconst mockPages = [\n  {\n    pageNumber: 1,\n    text: \"Introduction to Multimodal AI Systems. This document explores how modern AI can process both text and visual information simultaneously.\",\n    hasImages: true\n  },\n  {\n    pageNumber: 2,\n    text: \"Deep learning architectures for multimodal processing include vision transformers and CLIP models that align text and image representations.\",\n    hasImages: false\n  },\n  {\n    pageNumber: 3,\n    text: \"Applications include visual question answering, image captioning, and document understanding systems that combine OCR with language models.\",\n    hasImages: true\n  }\n];\n\nreturn mockPages.map(page => ({\n  json: {\n    filename: filename,\n    pageNumber: page.pageNumber,\n    textContent: page.text,\n    hasImages: page.hasImages,\n    uploadedAt: new Date().toISOString()\n  }\n}));"
      },
      "id": "extract-pdf-content",
      "name": "Extract PDF Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "embedding",
        "operation": "create",
        "model": "text-embedding-3-small",
        "input": "={{ $json.textContent }}",
        "options": {}
      },
      "id": "openai-embeddings",
      "name": "Generate Embeddings",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-workshop",
          "name": "OpenAI Workshop"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "pdf_documents",
        "fields": "={\n  \"filename\": \"{{ $('Extract PDF Content').item.json.filename }}\",\n  \"pageNumber\": {{ $('Extract PDF Content').item.json.pageNumber }},\n  \"textContent\": \"{{ $('Extract PDF Content').item.json.textContent }}\",\n  \"embedding\": {{ JSON.stringify($json.data[0].embedding) }},\n  \"metadata\": {\n    \"uploadedAt\": \"{{ $('Extract PDF Content').item.json.uploadedAt }}\",\n    \"model\": \"{{ $json.model }}\",\n    \"dimensions\": {{ $json.data[0].embedding.length }},\n    \"hasImages\": {{ $('Extract PDF Content').item.json.hasImages }}\n  }\n}"
      },
      "id": "mongodb-insert",
      "name": "Store in MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [900, 300],
      "credentials": {
        "mongoDb": {
          "id": "mongodb-local",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "path": "ask",
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "webhook-ask",
      "name": "Q&A Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 600],
      "webhookId": "qa-webhook"
    },
    {
      "parameters": {
        "resource": "embedding",
        "operation": "create",
        "model": "text-embedding-3-small",
        "input": "={{ $json.body.question }}",
        "options": {}
      },
      "id": "embed-question",
      "name": "Embed Question",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [460, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-workshop",
          "name": "OpenAI Workshop"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "pdf_documents",
        "query": "=[\n  {\n    \"$vectorSearch\": {\n      \"index\": \"vector_index\",\n      \"path\": \"embedding\",\n      \"queryVector\": {{ JSON.stringify($json.data[0].embedding) }},\n      \"numCandidates\": 100,\n      \"limit\": 5\n    }\n  },\n  {\n    \"$project\": {\n      \"_id\": 1,\n      \"filename\": 1,\n      \"pageNumber\": 1,\n      \"textContent\": 1,\n      \"score\": { \"$meta\": \"vectorSearchScore\" },\n      \"metadata\": 1\n    }\n  }\n]"
      },
      "id": "mongodb-vector-search",
      "name": "Vector Search",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [680, 600],
      "credentials": {
        "mongoDb": {
          "id": "mongodb-local",
          "name": "MongoDB Local"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful AI assistant that answers questions about PDF documents. Use the provided context from the vector search to answer questions accurately. Always cite which page and document the information comes from."
            },
            {
              "role": "user", 
              "content": "=Question: {{ $('Q&A Webhook').item.json.body.question }}\n\nContext from documents:\n{{ $('Vector Search').all().map(item => `[${item.json.filename} - Page ${item.json.pageNumber}] ${item.json.textContent}`).join('\\n\\n') }}\n\nPlease answer the question based on the context provided."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "openai-chat",
      "name": "Generate Answer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [900, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-workshop",
          "name": "OpenAI Workshop"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "answer",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "question", 
              "value": "={{ $('Q&A Webhook').item.json.body.question }}"
            }
          ],
          "number": [
            {
              "name": "sourcesCount",
              "value": "={{ $('Vector Search').all().length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "content": "## Real Multimodal PDF Agent\n\n### Features:\n1. **PDF Upload** - Accept real PDF files\n2. **Text Extraction** - Process PDF content\n3. **OpenAI Embeddings** - Generate real embeddings\n4. **MongoDB Storage** - Store with vector index\n5. **Vector Search** - Real MongoDB $vectorSearch\n6. **AI Q&A** - GPT-4 powered answers\n\n### Setup Required:\n1. MongoDB with vector index named 'vector_index'\n2. OpenAI API credentials\n3. Collection: pdf_documents",
        "height": 250,
        "width": 350
      },
      "id": "workflow-notes",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [580, 50]
    }
  ],
  "pinData": {},
  "connections": {
    "PDF Upload Webhook": {
      "main": [
        [
          {
            "node": "Extract PDF Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Content": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Store in MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Q&A Webhook": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search": {
      "main": [
        [
          {
            "node": "Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Answer": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "real-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "real-multimodal-pdf-agent",
  "tags": ["workshop", "real", "production", "multimodal"]
}